<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment4</title>
</head>
<body>
      <button id="button1">Q10 Q11</button>
      <button id="button2">Q12 Q13</button>

      <script>
        // 获取按钮元素
        var button1 = document.getElementById('button1');
        var button2 = document.getElementById('button2');

        // 按钮1的点击事件处理函数
        button1.addEventListener('click', function() {
          // 使用 location.href 实现页面跳转
          window.location.href = 'index1';
        });

        // 按钮2的点击事件处理函数
        button2.addEventListener('click', function() {
          // 使用 location.href 实现页面跳转
          window.location.href = 'cluster';
        });
      </script>
</body>
</html>