<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ city_details['city'] }} Details</title>
</head>
<body>
    <h1>{{ city_details['city'] }} Details</h1>
    <p>Latitude: {{ city_details['lat'] }}</p>
    <p>Longitude: {{ city_details['lng'] }}</p>
    <p>Country: {{ city_details['country'] }}</p>
    <p>State: {{ city_details['state'] }}</p>
    <p>Population: {{ city_details['population'] }}</p>
</body>
</html>
