<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .reviews table {
            border-collapse: collapse;
            width: 100%;
        }

        .reviews table, .reviews th, .reviews td {
            border: 1px solid black;
        }

        .reviews tr {
            border-bottom: 2px solid black;
        }
    </style>
    <script>
        function showCityDetails(cityId) {
            var detailsElement = document.getElementById('details-' + cityId);
            detailsElement.style.display = 'block';
        }

        function hideCityDetails(cityId) {
            var detailsElement = document.getElementById('details-' + cityId);
            detailsElement.style.display = 'none';
        }
    </script>
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fs-5">Name : Gao Yu qi</h1>
            <h1 class="display-6 fs-5">Last 5 Digits of Student ID : 76602</h1>
{#            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/person.jpg') }}" alt="Azure Logo" width="192" height="192"/>#}
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
          </div>
     </main>
   </body>
    <body>

        <div class="reviews">
            <h2>Amazon Reviews</h2>
            <table>
                <tr>
                    <th>title</th>
                    <th>review</th>
                    <th>city</th>
{#                    <th>score</th>#}
                    <th>Score Image</th>
                </tr>
                {% for review in reviews %}
                <tr>
                    <td>{{ review.title }}</td>
                    <td>{{ review.review }}</td>
                    <td><a href="{{ url_for('city_details', city=review['city']) }}" target="_blank">{{ review['city'] }}</a></td>
{#                    <td>{{ review.score }}</td>#}
                    <td><img src="{{ url_for('static', filename='images/' + score_path[review['score']] + '.jpg') }}" alt="Score Image" style="width: 60px; height: auto; margin-right: 10px;"></td>
{#                    <td><img src="{{ url_for('static', filename='images/score-' + score_string + '.jpg') }}" alt="Score Image"></td>#}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>


