<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .reviews table {
            border-collapse: collapse;
            width: 100%;
        }

        .reviews table, .reviews th, .reviews td {
            border: 1px solid black;
        }

        .reviews tr {
            border-bottom: 2px solid black;
        }
    </style>
    <script>

    </script>
</head>
<html>
   <body>
        <form action="/data/closest_cities" method="get">
            <label for="city">City:</label>
            <input type="text" id="city" name="city"><br>

            <label for="page">Page:</label>
            <input type="text" id="page" name="page"><br>

            <label for="page_size">Page Size:</label>
            <input type="text" id="page_size" name="page_size"><br>

            <input type="submit" value="Submit">
        </form>
        <h1>Cache Purge</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form method="post" action="{{ url_for('handle_purge_cache') }}">
            <button type="submit">Purge Cache</button>
        </form>
    </body>
</html>


